<div [formGroup]="group" class="form-group">
  <!-- Le champ affiché -->
  <label>{{label}}<span class="mandatory" *ngIf="required">*</span></label>
  <div class="input" (click)="changeListDisplay()" tabindex="0">  <!-- tabindex : rend le composant focusable -->
    {{group.get('value').value ? group.get('value').value : '-'}}
  </div>

  <!-- La liste de valeurs -->
  <div class="panel" *ngIf="displayList">
    <gui-text-input #searchField placeholder="Entrez votre recherche" (out)="filterList($event)"></gui-text-input>
    <div class="list">
      <div *ngFor="let item of items | filter:filterValue" class="list-item" tabindex="0"
           (click)="selectValue(item); displayList = false;">{{item}}
      </div>
    </div>
  </div>

  <!-- Les boutons en surimpression -->
  <div class="clean-selected">
    <div class="fa fa-close" *ngIf="group.get('value').value" (click)="selectValue(null)"></div>
    <div class="fa fa-angle-down" (click)="changeListDisplay()"></div>
  </div>
</div>
