<div formGroup="group" class="form-group">
  <label>{{label}}<span class="mandatory" *ngIf="required">*</span></label>
  <div class="input" (click)="displayList = !displayList">
    {{selectedValue ? selectedValue : ' - '}}
  </div>
  <div class="panel" *ngIf="displayList">
    <gui-text-input placeholder="Entrez votre recherche"></gui-text-input>
    <div class="list">
      <div *ngFor="let item of items" class="list-item" (click)="selectValue(item); displayList = false;">{{item}}</div>
    </div>
  </div>
  <div class="clean-selected">
    <div class="fa fa-close" *ngIf="selectedValue" (click)="selectValue(null)"></div>
    <div class="fa fa-angle-down"></div>
  </div>
</div>
