.form-group {
  margin-top: 5px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

label {
  color: #777777;
  font-weight: normal;
  font-size: 0.4em;
}

input {
  color: #333333;
  font-size: 0.4em;
  padding: 7px;
  border: 1px solid #999999;

  transition: ease-in 150ms;
}

input:focus {
  outline: none;
  border: 1px solid #027095;
  box-shadow: 0 0 2px #027095;

  transition: ease-in 150ms;
}
