.form-group {
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 0.9em;
}

label > .mandatory {
  color: red;
}

/*input {*/
  /*color: #333333;*/
  /*padding: 6px;*/
  /*border: 1px solid #999999;*/

  /*transition: ease-in 150ms;*/
/*}*/

input.ng-invalid {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid #0288ae;
  /*box-shadow: 0 0 2px #027095;*/

  transition: ease-in 150ms;
}

input:focus.ng-invalid {
  border: 1px solid red;
  /*box-shadow: 0 0 2px red;*/

  transition: ease-in 150ms;
}
